.rating {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 10px;
  bottom: 8px;
  background-color: rgb(19, 18, 18);
  border-radius: 50%;
}

@media screen and (max-width: 800px) {
  .rating {
    left: 8px;
    bottom: 0px;
  }
}
