.errorpage {
  width: 100vw;
  height: 100vh;
  background-color: #04152d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.errorimg {
  overflow: hidden;
}

@media screen and (max-width: 500px) {
  .errorimg {
    width: 100%;
  }
}
