.trending_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 40px;
}

.carousel_title {
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  .trending_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px;
  }
}
@media screen and (max-width: 550px) {
  .trending_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
  }
}
