.home_conatiners {
  width: 100%;
  height: fit-content;
  padding: 0px 5px;
  position: relative;
  margin-bottom: 35px;
}

.carousel_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px 10px;
}

.carousel_title {
  font-size: 25px;
}

@media screen and (max-width: 800px) {
  .carousel_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 15px;
  }
}
@media screen and (max-width: 550px) {
  .home_conatiners {
    margin-bottom: 10px;
  }
  .carousel_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 10px;
  }
}
