.carousel {
  width: 100%;
  height: fit-content;
  padding: 0px 5px;
  position: relative;
}

.carousel_container {
  width: 100%;
  display: flex;
  overflow-x: scroll;
  scroll-behavior: smooth;
  height: fit-content;
}

.carousel_item {
  height: fit-content;
  margin: 4px;
  margin-left: 0px;
  padding: 4px;
}

.poster {
  overflow: hidden;
  height: fit-content;
  width: 170px;
  height: 270px;
  cursor: pointer;
  position: relative;
}
.poster_img {
  border-radius: 12px;
  width: 170px;
  height: 250px;
  overflow: hidden;
  transition: all 0.2s ease-in-out;
}

.poster_img:hover {
  scale: 1.18;
}

.title,
.release_date {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 2px 2px;
}

.title {
  font-size: 15px;
  cursor: pointer;
}

.release_date {
  font-size: 14px;
  color: rgb(163, 161, 161);
}

.scroll_icon {
  position: absolute;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.712);
  border-radius: 10px;
  font-size: 30px;
  padding: 0px 5px;
  top: 35%;
  cursor: pointer;
}

.left {
  left: 20px;
}
.right {
  right: 20px;
}

.vote_rating {
  position: absolute;
  width: 35px;
  height: 35px;
  overflow: hidden;
  bottom: 4px;
  left: 8px;
}

@media (max-width: 800px) {
  .poster {
    width: 155px;
    height: 230px;
  }
  .poster_img {
    width: 155px;
    height: 220px;
  }
  .scroll_icon {
    display: none;
  }
}
